@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Regular';
    src: url('./assets/manrope/manrope-regular.otf');
}


@font-face {
    font-family: 'Semibold';
    src: url('./assets/manrope/manrope-semibold.otf');
}

@font-face {
    font-family: 'Bold';
    src: url('./assets/manrope/manrope-bold.otf');
}

body {
    font-family: 'Regular';
}

@layer components {
    .text-28 {
        @apply text-[28px] font-medium text-white
    }

    .text-24 {
        @apply text-2xl font-normal text-white
    }

    .text-12 {
       @apply text-xs font-semibold text-white
    }
}