@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

@layer base {
  .max-w-1920 {
    @apply max-w-[120rem] mx-auto overflow-hidden;
  }

  .section-container {
    @apply max-w-[96.5rem] w-full mx-auto;
  }

  .navbar {
    @apply flex p-lg items-center justify-end sm:justify-center md:justify-between bg-green-700 sm:py-2 pt-1.5 pb-1 px-4;
  }

  .btn {
    @apply border p-4 text-sm font-bold text-center;
  }

  .p-md {
    @apply text-[0.625rem] leading-7 text-gray-600;
  }

  .p-lg {
    @apply text-xs font-semibold;
  }

  .p {
    @apply md:text-sm text-xs leading-4 text-gray-900 md:leading-5;
  }

  .subtitle-md {
    @apply text-gray-900 font-bold md:leading-5 leading-4 text-sm md:text-base;
  }

  .subtitle-lg {
    @apply md:text-lg font-bold leading-5 md:leading-6;
  }

  .subtitle {
    @apply md:text-xl text-sm font-extrabold md:leading-9 leading-5;
  }

  .title-sm {
    @apply md:text-2xl font-semibold text-gray-900 leading-9 text-lg;
  }

  .title-md {
    @apply text-gray-900 md:text-[1.625rem] text-lg leading-9 font-semibold;
  }

  .title-lg {
    @apply md:text-[28px] font-medium text-white text-lg;
  }

  .title {
    @apply md:text-3xl font-semibold text-gray-900 leading-9 text-lg;
  }

  .card-hr {
    @apply h-1 bg-gray-100;
  }

  .card-title {
    @apply mt-3 font-bold text-xs md:text-base text-black;
  }

  .card-subtitle {
    @apply mt-1 text-gray-800 md:text-sm text-xs;
  }

  .card-content {
    @apply text-[0.625rem] text-gray-400 md:text-sm;
  }

  .card-img-wrapper {
    @apply h-56 md:h-64 lg:h-72 xl:h-80 2xl:h-[23.5rem] py-7 relative flex items-center justify-center;
  }

  .card-img-wrapper a {
    @apply h-full flex flex-col justify-center items-center;
  }

  .card-img-wrapper a img {
    @apply h-auto max-h-full;
  }

  .card-cont-text {
    @apply flex justify-between flex-col ml-2 bg-white h-71 md:h-28;
  }

  .slide {
    @apply lg:max-w-[1132px] -mt-[20px] max-w-[90%] bg-no-repeat bg-cover h-[375px] md:h-[448px] flex flex-col justify-between items-center md:items-start py-7 px-12 text-white mx-[0!important] md:mx-auto;
  }

  .slider-subtitle {
    @apply md:text-[26px] text-[18px];
  }

  .slider-title {
    @apply md:text-[32px] text-[22px] max-w-[400px] font-bold -mt-2;
  }

  .slider-btn {
    @apply border border-white p-4 text-sm -tracking-[1.2px] mb-2.5;
  }

  .footer-line {
    @apply bg-gray-400 h-px mt-2 mb-3 md:my-3;
  }

  .footer-item-line {
    @apply bg-gray-800 w-2 h-[2px] block sm:hidden -mr-4;
  }

  .footer-li-flex {
    @apply font-bold flex items-center justify-between;
  }

  .footer-bg {
    @apply bg-[url(./assets/bg-footer-m.jpg)] sm:bg-[url(./assets/bg-footer.jpg)] bg-cover bg-no-repeat;
  }

  .arrow-btn {
    @apply w-6 h-6 md:w-10 md:h-10 bg-white z-10 rounded-full flex items-center justify-center shadow-[0px_3px_6px_#00000029] absolute top-[60px] md:top-[75px];
  }

  .arrow-img {
    @apply absolute 2xl:right-5 right-2 bottom-3 z-30 2xl:w-9 w-5;
  }

  .slider {
    @apply flex items-center flex-col text-center w-36 md:w-40 lg:w-44 xl:w-48 2xl:w-[12.5rem];
  }

  .slider p {
    @apply mt-4 text-gray-900 text-xs md:text-base;
  }

  .slider img {
    @apply w-full h-full;
  }

  .banner-title {
    @apply text-[#009289] text-sm md:text-xl font-extrabold text-center md:my-16 mb-12;
  }

  .feed-slide {
    @apply relative;
  }

  .insta-img {
    @apply w-254 max-w-none smmax-w-full;
  }

  .insta-items {
    @apply absolute hidden bg-black opacity-40 h-full w-full items-center justify-center;
  }

  .insta-input {
    @apply py-2 smpy-3 pl-4 md:pl-7 w-full md:w-[250px] lg:w-407 placeholder:text-xs placeholder:text-black bg-transparent md:mr-2 border border-black;
  }

  .hr-line {
    @apply w-px h-122 bg-gray-50 mx-2 lg:mx-0 hidden lg:block;
  }

  .hr-lines {
    @apply w-[70%] h-px mt-4 mb-3 bg-gray-200 md:hidden;
  }

  .label {
    @apply max-w-[333px] flex flex-col items-center justify-center text-center sm:px-8 md:px-8 lg:px-2 2xl:px-0 md:pt-8;
  }

  .fixed-menu {
    @apply p-4 bg-white items-center flex fixed w-full bottom-0 justify-between sm:hidden;
  }

  .covid-count {
    @apply mx-4 lg:mx-0 lg:px-8 mt-10 md:mt-16 py-2 lg:py-6 border border-gray-200 flex flex-wrap items-start justify-evenly lg:justify-between;
  }

  .discount-img {
    @apply flex items-start justify-between flex-col md:py-5 sm:p-3 pt-2.5 pb-2 pl-2.5 md:px-4 text-black bg-center bg-no-repeat sm:min-h-full min-h-[168px];
  }

  .header img {
    @apply object-cover;
  }

  .discount {
    @apply bg-gray-900 rounded md:px-3 md:py-1 md:text-sm text-gray-100 py-px px-1 text-xs;
  }

  .discount-img h5 {
    @apply md:text-lg text-base;
  }

  .discount-img p {
    @apply md:mt-2 md:text-sm max-w-[231px] text-xs;
  }

  .seller {
    @apply md:border md:border-gray-100 justify-end md:justify-start pb-3 md:py-[13px] flex items-center flex-col md:flex-row;
  }

  .seller div:nth-child(1) {
    @apply w-[167px] h-[220px] md:h-[151px] flex items-center justify-center relative;
  }

  .seller div:nth-child(2) {
    @apply max-w-[303px] md:border-l md:border-l-gray-100 md:pl-4 border-t border-t-gray-100 pt-2.5 md:border-t-0 2xl:h-[118px] h-16 md:h-[150px];
  }

  .seller h3 {
    @apply font-bold text-xs md:text-base;
  }

  .seller-subtitle {
    @apply text-gray-800 md:text-sm text-xs font-normal;
  }

  .seller-content {
    @apply -tracking-[0.35px] mt-2.5 md:mt-6 text-[10px] md:text-sm text-gray-200;
  }

  .seller img {
    @apply object-cover absolute mb-5;
  }

  .dot {
    @apply absolute bg-red-500 rounded-full -top-3 w-5 h-5 flex items-center justify-center text-white text-xs -right-3;
  }

  .input[type="radio"]:checked {
    @apply bg-red-500;
  }

  .banner-slider .slick-track {
    @apply flex items-center justify-center ml-[13%]
  }
}

.text-white-im * {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.banner-slider .slide {
  width: inherit;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: #212121 !important;
}

.slick-dots li.slick-active button:before {
  color: #dd1b1e !important;
}

.mr-7 {
  margin-right: 28px !important;
}

.product-slider .slider {
  overflow: hidden;
}

@media (max-width:768px){
.slide {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
}